
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.dashboard {
    position: relative !important;
    top: 0;
    height: 100vh;
}

.dash_navbar {
    background-color: tomato;
    position: relative;
    top: 0;
    left: 0;
}

.dash_sidebar {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem 0.5rem 1rem 0.5rem;
    height: 100vh;
    width: 260px;
    border-right: #e5e7eb solid .1rem;
}

.dash_sidebar .dash_sidbar__item {
    padding: 0.3rem;
    border-radius: 0.5rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 300;
    cursor: pointer;
}

.dash_sidebar .dash_sidbar__item:hover {
    background-color: #eaffb7;
}

.dash_sidebar .dash_sidbar__item i {
    margin-left: 0.4rem;
    margin-right: 0.4rem;
    font-weight: 800;
    font-size: 1.2rem;
}

.dash_sidebar .dash_sidbar__item.active {
    background-color: #eaffb7;
}

.dash_sidebar .dash_sidbar__item__list {
    padding: 0.3rem;
    margin-left: 2rem;
}

.dash_sidebar .dash_sidbar__item__list .list-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.3rem;
    margin-bottom: 0.2rem;
    border-radius: 0.5rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 300;
    cursor: pointer;
}
.dash_sidebar .dash_sidbar__item__list .list-item:hover {
    border-radius: 0.5rem;
    background-color: #eaffb7;
}

.dash_sidebar .dash_sidbar__item__list .list-item.active {
    background-color: #eaffb7;
}
.dash_sidebar .dash_sidbar__item__list .list-item i {
    font-size: .4rem;
    color: rgba(0, 0, 0, 0.5);
    margin-right: 0.5rem;
}

.dash_sidebar .dash_sidbar__logout {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: #f86b64;
    padding: 0.3rem;
    border-radius: 0.4rem;
    cursor: pointer;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 400;
    transition: all .3s;
}
.dash_sidebar .dash_sidbar__logout:hover {
    background-color: #f35c54;
}
.dash_sidebar .dash_sidbar__logout i {
    font-size: 1.1rem;
    font-weight: 400;
    margin-left: 0.5rem;
}


.dash_content {
    background-color: rgb(128,128,128, 0.07);
    position: absolute;
    top: 0;
    left: 260px;
    width: calc(100% - 260px);
    height: 100vh;
    /* padding: 0 1rem 0 1rem; */
}

.dash_navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    background-color: #fff;
}

.dash_navbar div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.dash_navbar div.left div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #eaffb7;
    color: #00000070;
    height: 40px;
    width: 40px;
    padding: 0.1rem 0.5rem 1rem 0.5rem;
    border-radius: 0.4rem;
    font-size: 1.5rem;
    margin-right: 0.5rem;
    cursor: pointer;
    display: none;   
}

.dash_navbar div.right div {
    background-color: #eaffb7;
    color: #00000070;
    height: 40px;
    width: 40px;
    padding: 0.5rem;
    border-radius: 50%;
    font-size: 1.5rem;
    margin-right: 0.5rem;
    cursor: pointer;
}
.dash_navbar div.right img {
    cursor: pointer;
    height: 40px;
    width: 40px;
    /* border: #eaffb7 solid 0.2rem; */
    border-radius: 50%;
}

.dash_container {
    padding: 0 2rem;
}

.dash_container .analytics{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}
.dash_container .analytics .analytics_title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
    margin-top: 0;
    padding: 1rem 1rem;
    background-color: transparent;
    font-weight: 400;
    text-transform: capitalize;
    border-bottom: rgba(0, 0, 0, 0.07) solid 0.1rem;
}


.dash_container .analytics div.counter{
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: center;
    background-color: #fff;
    margin-bottom: 0.5rem;
    padding: 0.4rem 0.6rem;
    border-radius: 0.5rem;
}
.dash_container .analytics div.counter i{
    font-size: 2.5rem;
    opacity: 0.1;
}
.dash_container .analytics div.counter div{
    display: flex;
    flex-direction: column;
    justify-content: space-around; 
    align-items: center;
}
.dash_container .analytics div.counter div span{
    font-size: .8rem;
    opacity: 0.5;
}
.dash_container .analytics div.counter div p{
    font-size: 1rem;
    font-weight: 600;
    opacity: 0.7;
    margin-bottom: 0;
}
.dash_container .analytics div.percent{
    background-color: #eaffb7;
    font-size: 0.8rem;
    padding: 0.1rem 0.5rem 0.1rem 0.5rem;
    border-radius: 0.4rem;
    opacity: 0.6;
}

.dash_container .analytics .analytics_title_secondary {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
    margin-top: 2rem;
    padding: 0.6rem 0.5rem 0.6rem 0.5rem;
    background-color: transparent;
    font-weight: 380;
    font-size: 0.8;
    border-bottom: rgba(0, 0, 0, 0.07) solid 0.05rem;
}
.dash_container .analytics .analytics_title_secondary button{
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    background-color: #eaffb7;
    text-transform: capitalize;
    color: rgba(0, 0, 0, 0.7);
    font-size: 0.8rem;
    border-radius: 0.4rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.dash_container .analytics .analytics_title_secondary button:hover{
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.dash_container .analytics .analytics_title_secondary button i{
    font-size: 1rem;
}

.analytics .modal .modal-header {
    padding: 0.5rem 1rem 0.5rem 1rem;
}
.analytics .modal .modal-header h5 {
    opacity: 0.6;
    text-transform: capitalize;
    font-size: 1.2rem;
    font-weight: 300;
}
.analytics .modal .modal-header button {
    background-color: transparent;
    border: #ffb2ae solid 0.1rem;
    color: #f35c54;
    padding: 0.2rem .6rem 0.2rem 0.6rem;
}
.analytics .modal .modal-header button i{
    font-size: 0.8rem;
}
.analytics .modal .modal-footer button {
    background-color: #83d866;
    border-radius: 0.4rem;
    font-size: 0.9rem;
    color: #f9f9f9;
    font-weight: 400;
    border: none;
    transition: all 0.3s;
}
.analytics .modal .modal-footer button:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
.analytics .modal .modal-footer button:focus {
    box-shadow: none;
    border: none;
}


.dash_container .analytics .analytics_table .analytics_table_row {
    background-color: #f9f9f9bf;
    margin-bottom: 0.8rem;
    padding: 0.5rem;
    border-radius: 0.4rem;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}
.dash_container .analytics .analytics_table .analytics_table_row div.name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 0.95rem;
    font-weight: 350;
    opacity: .9;
    text-transform: capitalize;
}
.dash_container .analytics .analytics_table .analytics_table_row div.status {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 0.8rem;
    border-radius: 0.4rem;
}
.dash_container .analytics .analytics_table .analytics_table_row div.status.active {
    background-color: #eaffb7;
}
.dash_container .analytics .analytics_table .analytics_table_row div.status.inactive {
    background-color: #ffc6c3;
}

.dash_table {
    /* padding: 1rem 1.5rem 1rem 1.5rem; */
    border-radius: 0.8rem;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

.dash_table .dash_table__header {
    background-color: #f9f9f9;
    padding: 0.7rem;
    border-radius: 0.8rem 0.8rem 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.dash_table .dash_table__header h3{
    margin: 0;
    font-size: large;
    color: #000;
}
.dash_table .dash_table__body {
    padding: 1rem;
}
.dash_table .dash_table__body .dash_table__item {
    padding: 0.6rem;
    padding-left: 1rem;
    border-radius: 0.5rem;
    margin-bottom: 0.6rem;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
    cursor: pointer;
    transition: box-shadow .3s;
    font-size: 15px;
    font-weight: 400;
    color: #5b5b5b;
}
.dash_table .dash_table__body .dash_table__item:hover {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}


/*****************/

.dash_sidebar.show {
    width: 260px;
    left: 0px;
    overflow: hidden;
    z-index: 999;
  }

.dash_content.show {
    left: 260px;
    width: calc(100% - 260px);
}

@media only screen and (max-width: 992px) {
    .dash_sidebar {
        position: absolute;
        width: 0;
        left: -20px;
        overflow: hidden;
        background-color: #fff;
        transition: all 0.3s;
    }
    .dash_navbar div.left div{
        display: unset;
    }
    .dash_content {
        position: absolute;
        width: 100%;
        left: 0;
        transition: all 0.3s;
    }
  }