


/* .device-chart {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 10px;
}
.device-chart .icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 60px;
    background-color: rgba(9, 140, 255, 0.803);
    color: rgb(255, 255, 255);
    border-radius: 50%;
    font-size: 30px;
}
.device-chart .icon.tab {
    background-color: #f86b64;
}
.device-chart .icon.phone {
    background-color: #06d6a0;
}
.device-chart .data{
    display: flex;
    flex-direction: column;
}
.device-chart .data p{
    margin: 0;
    font-weight: 500;
    font-size: 17px;
}




.eng-chart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.eng-chart p{
    margin: 0;
}
.eng-chart .icon i{
    font-size: 60px;
    color:  rgba(0, 0, 0, 0.712);
}
.eng-chart .time {
    font-size: 16px;
    font-weight: 600;
}
.eng-chart .msg {
    font-size: 13px;
    font-weight: 400;
}
.eng-chart .combine {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    font-size: 13px;
    font-weight: 400;
} */

.country-chart .title{
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}
.country-chart .chart-row{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-weight: 400;
}
.country-chart table th{
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    padding: 10px 0;
}
.country-chart table td{
    line-height: 1;
    padding: 4px 8px;
    border-right: black solid 1px;
}
.country-chart .table .last-year {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.country-chart .table .last-year .chart-progress{
    width:65%;
    height: 10px;
    border-radius: 5px;
    background-color: rgb(210, 210, 210);
    overflow: hidden;
}
.country-chart .table .last-year .chart-progress .chart-progress-bar{
    background-color: rgb(0, 157, 255);
    height: 100%;
    border-radius: 5px;
}






.products-chart .title{
    text-align: center;
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 10px;
    background-color: rgba(250, 235, 215, 0.44);
    padding: 5px 10px;
    border-radius:  8px;
}
.products-chart thead th{
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 10px;
    border-bottom: rgba(0, 0, 0, 0.098) solid 0.01rem !important;
}
.products-chart tbody tr:hover{
    background-color: rgba(250, 235, 215, 0.255);
}