* {
  padding: 0;
  margin: 0;
}

.container {
  box-sizing: border-box;
  padding: 4vh 1rem;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1200px;
}
.grid-x {
  display: flex;
  flex-flow: row wrap;
  min-width: 100%;
  min-height: 0px;
  margin-left: -16px;
  margin-right: -16px;
}
.col {
  flex: 0 0 100%;
}
@media (min-width: 60.063em) {
  .col {
    flex: 1 1 0px;
  }
}
.step-box {
  padding: 16px;
  background: rgba(55, 188, 155, 0.1);
}
.summary-box {
  border: 1px solid rgba(67, 74, 84, 0.1);
  padding: 16px;
}
.step-checkout {
  position: relative;
}
.step-checkout_list {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  margin: 0;
  min-height: 0px;
  min-width: 0px;
}
.step-checkout_item {
  cursor: pointer;
  box-sizing: border-box;
  float: none;
  width: auto;
  flex: 0 0 100%;
  text-transform: uppercase;
  text-align: center;
}

@media (min-width: 60.063em) {
  .step-checkout_item {
    flex: 1 1 0px;
  }
}
@media (max-width: 60em) {
  .step-checkout_item {
    margin-bottom: 16px;
  }
}
.step-checkout_item_content {
  display: none;
  visibility: hidden;
  transform-style: flat;
  transform: translateX(-50px);
  opacity: 0;
  padding: 16px;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out,
    visibility 0s 0.3s, display 0s 0.3s;
}
.step-checkout_item:nth-of-type(1) {
  order: 1;
}
@media (max-width: 60em) {
  .step-checkout_item:nth-of-type(1).active ~ .step-checkout_content {
    order: 1;
  }
}
.step-checkout_item:nth-of-type(1).active
  ~ .step-checkout_content
  #stepCheckoutContent1 {
  display: block;
  visibility: visible;
  transform: translateX(0px);
  opacity: 1;
}
.step-checkout_item:nth-of-type(1).active
  ~ .step-checkout_content
  .step-checkout_item_content {
  transition: opacity 0.2s ease-in-out 0.1s, transform 0.2s ease-in-out 0.1s,
    visibility 0s 0s, display 0s 0s;
}
.step-checkout_item:nth-of-type(2) {
  order: 2;
}
@media (max-width: 60em) {
  .step-checkout_item:nth-of-type(2).active ~ .step-checkout_content {
    order: 2;
  }
}
.step-checkout_item:nth-of-type(2).active
  ~ .step-checkout_content
  #stepCheckoutContent2 {
  display: block;
  visibility: visible;
  transform: translateX(0px);
  opacity: 1;
}
.step-checkout_item:nth-of-type(2).active
  ~ .step-checkout_content
  .step-checkout_item_content {
  transition: opacity 0.2s ease-in-out 0.1s, transform 0.2s ease-in-out 0.1s,
    visibility 0s 0s, display 0s 0s;
}
.step-checkout_item:nth-of-type(3) {
  order: 3;
}
@media (max-width: 60em) {
  .step-checkout_item:nth-of-type(3).active ~ .step-checkout_content {
    order: 3;
  }
}
.step-checkout_item:nth-of-type(3).active
  ~ .step-checkout_content
  #stepCheckoutContent3 {
  display: block;
  visibility: visible;
  transform: translateX(0px);
  opacity: 1;
}
.step-checkout_item:nth-of-type(3).active
  ~ .step-checkout_content
  .step-checkout_item_content {
  transition: opacity 0.2s ease-in-out 0.1s, transform 0.2s ease-in-out 0.1s,
    visibility 0s 0s, display 0s 0s;
}
.step-checkout_item:nth-of-type(4) {
  order: 4;
}
@media (max-width: 60em) {
  .step-checkout_item:nth-of-type(4).active ~ .step-checkout_content {
    order: 4;
  }
}
.step-checkout_item:nth-of-type(4).active
  ~ .step-checkout_content
  #stepCheckoutContent4 {
  display: block;
  visibility: visible;
  transform: translateX(0px);
  opacity: 1;
}
.step-checkout_item:nth-of-type(4).active
  ~ .step-checkout_content
  .step-checkout_item_content {
  transition: opacity 0.2s ease-in-out 0.1s, transform 0.2s ease-in-out 0.1s,
    visibility 0s 0s, display 0s 0s;
}
@media (max-width: 60em) {
  .step-checkout_item.active {
    margin-bottom: 0px;
  }
}
.step-checkout_item.active span {
  background: #f5f7fa;
  color: #434a54;
}
@media (max-width: 60em) {
  .step-checkout_item.active span {
    box-shadow: inset 0px 0px 0px 4px rgba(55, 188, 155, 0.1);
  }
}
@media (min-width: 60.063em) {
  .step-checkout_item.active span {
    background: rgba(55, 188, 155, 0.1);
    border-bottom: 4px solid #04AA6D;
  }
}
.step-checkout_item.active ~ .step-checkout_item span {
  background: #f5f7fa;
  color: #434a54;
  border-bottom: 4px solid rgba(67, 74, 84, 0);
}
.step-checkout_item span {
  background: rgba(67, 74, 84, 0.75);
  color: rgba(245, 247, 250, 0.9);
  display: block;
  padding: 16px;
  line-height: 1.65;
  transition: background 0.2s ease-in-out, border 0.2s ease-in-out,
    box-shadow 0.2s ease-in-out;
}
@media (min-width: 60.063em) {
  .step-checkout_item span {
    border-bottom: 4px solid rgba(67, 74, 84, 0.25);
  }
}
@media (max-width: 60em) {
  .step-checkout_item span {
    box-shadow: inset 0px 0px 0px 4px rgba(67, 74, 84, 0.1);
  }
}
.step-checkout_summary {
  padding: 16px;
}
.step-checkout_content {
  flex: 0 0 100%;
  min-width: 0px;
  display: block;
  order: 9;
}
.step-checkout h2 {
  font-size: 0.9rem;
  font-weight: 700;
  padding-bottom: 12px;
  margin-bottom: 22px;
  line-height: 1.25;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  border-bottom: 1px solid rgba(67, 74, 84, 0.1);
}







.step-checkout_item_content h5 {
  font-size: 0.9rem;
  padding: 0.8rem 0.8rem 0.8rem 0;
  border-bottom: #00000019 solid 0.01rem;
}
.step-checkout_item_content label {
  font-size: 0.9rem;
  padding: 0.2rem 0.2rem 0.2rem 0;
}
.step-checkout_item_content input,
.step-checkout_item_content select
 {
  padding: 0.3rem;
  border-radius: 0.5rem;
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.686);
  border: #00000019 solid 0.1rem;
}
.step-checkout_item_content input:focus,
.step-checkout_item_content select:focus
 {
  box-shadow: none;
  border: #04AA6D solid 0.1rem;
}
.step-checkout_item_content .nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border: none;
}
.step-checkout_item_content .nav .nav-item {
  width: 50%;
  padding: 0 0.1rem;
}
.step-checkout_item_content .nav .nav-link {
  border-radius: 0.5rem;
  color: rgba(0, 0, 0, 0.583);
  width: 100%;
  border: #00000012 0.1rem solid;
}
.step-checkout_item_content .nav .nav-link.active {
  background-color: #04AA6D;
  color: #fff;
}
.step-checkout_item_content p {
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.741);
  margin-bottom: 0.1rem;
}
.step-checkout_item_content small {
  font-size: 0.7rem;
  color: rgba(0, 0, 0, 0.651);
}

.step-checkout_item_content .nav-btn {
  font-size: 0.8rem;
  color: #04AA6D;
  /* background-color: #04AA6D; */
  padding: 0.3rem;
  border: #04AA6D solid 0.1rem;
  border-radius: 0.5rem;
}
.step-checkout_item_content .nav-btn:hover {
  color: #fff;
  background-color: #04AA6D;
}